# Logs
/logs/*
!/logs/.gitkeep
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/temp*
/test/coverage/*
*.pub
*.key
*.der
*.pem
*.crt
# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# IDE
.idea
.vscode
/package/timestamp_service/test/coverage/
/package/timestamp_service/build/
